---
apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace: open-cluster-management-observability
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: grafana-{{CLUSTER_GUID}}
      endpoint: s3.amazonaws.com
      insecure: false
      access_key: {{ lookup('ansible.builtin.env', 'AWS_ACCESS_KEY_ID', default='') }}
      secret_key: {{ lookup('ansible.builtin.env', 'AWS_SECRET_ACCESS_KEY', default='') }}
...
